Django>=2.0,<3.0
psycopg2>=2.7,<3.0
django-bootstrap-form
django-jquery
numpy
pandas
pandas_datareader
django-pandas
django-ajax-tables
django-widget-tweaks
setuptools
apscheduler
asgiref
plotly
pytz
retrying
six
sqlparse